.account {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

.contentsTitle {
    color: #ea0e68;
}

.contentImg {
    height: 5rem;
}

.contents a {
    color: black;
}