.form {
    padding: 2.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1rem;
}

.form input {
    width: 100%;
    padding: 0.9em;
    font-size: 1em;
    border-radius: 1rem;
}

.form button {
    padding: 0.5em 1em;
    font-size: 1em;
}

.error {
    display: none;
    width: 80%;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #ea0e68;
}
.error.show {
    display: block;
}

.passwordText {
    font-size: 0.7rem;
}

.formBottomText {
    margin-top: 1.9rem;
}

.formBottomLink {
    text-decoration: none;
    color: #ea0e68;
}

.fromBottomLink:hover {
    color: black;
}

.termsText {
    color: #000;
}

.termsText:hover {
    color: #ea0e68;
}