.burgerMenu {
    position: absolute;
    top: 4rem;
    right:3.3rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 6.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0px 2px 5px grba(0, 0, 0, 0.2);
    display: none;
}

.active {
    display: flex;
}

.burgerMenu a {
    text-decoration: none;
    color: #333;
    margin-bottom: 1rem;
}

.burgerMenu a:last-child {
    margin-bottom: 0;
}

.burgerLink:hover {
    color: #ea0e68;
}
