.header {
    display: flex;
    gap: 17.5rem;
    align-items: center;
    margin-top: -3rem;
    position: fixed;
    background-color: #d7d5f5;
    padding: 0.3rem;
    user-select: none;;
}

.accountLogo {
    height: 2rem;
}

.burger {
    cursor: pointer;
}

.burgerMenu {
    display: flex;
    position: fixed;
    text-align: start;
    margin-top: 2.2rem;
    inset: 1.3rem;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 3rem;
    gap: 1rem;
    border: 1px solid #ccc; 
    border-radius: 1rem;
    box-shadow: 0px 2px 5px grba(0, 0, 0, 0.2);
    display: none;
    user-select: none;
}

.active {
    display: flex;
    justify-content: space-between;
}

.burgerMenu > a {
    text-decoration: none;
    text-align: center;
    color: #333;
}

.burgerMenu > a:hover {
    color: #ea0e68;
}