.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem 4rem;
    gap: 2rem;
}

.mainTitle {
    color: #6a609e;
    text-transform: capitalize;
}